
body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

#chart_anniversary {
  height: 300px;
  width: 50%;
  float: left;
}

#chart_location {
  height: 300px;
  width: 50%;
  float: right;
}

#chart_department {
  height: 600px;
  width: 100%;
  float: right;
}

a {
  color: #4572A7;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

table {
	/* margin: 1em auto; */
	font: 95%/130% Tahoma, Arial, Helvetica, sans-serif;
	width: 100%;
}

table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url('/assets/up_arrow.gif');
}

.pretty th .desc {
  background-image: url('/assets/down_arrow.gif');
}

input {
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
 	-moz-transition: all 0.30s ease-in-out;
 	border:#999 1px solid;
 	outline:none;
}
 
input:focus {
	border:#35a5e5 1px solid;
	box-shadow: 0 0 6px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
}

tr:nth-child(odd) {
    background-color: #E8E8E8;
    color: black;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
    color: black;
}